/* loco */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Hero section */
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
/* navbar */
.navbar{
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* logo */
.logo{
    font-size: 22px;
    font-weight: bold;
    color: #2f55ff;
}
/* singn ub button */
.signup-btn{
    text-decoration: none;
    background: #2f55ff;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}
.signup-btn:hover{
    background: #1d3fd8;
}
/* hero content */
.hero-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* title */
.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #111;
    margin-bottom: 25px;
}
/* main button */
.hero-btn{
    text-decoration: none;
    background: #2f55ff;
    color: white;
    padding: 12px 48px;
    border-radius: 8px;
    font-size: 15px;
    transition: o.3s;
}
.hero-btn:hover{
    background: #1d3fd8;
}